{% extends "admin/base.html" %}
{% block content %}
<link href="/static/css/datatables.min.css" rel="stylesheet" type="text/css" media="all"/>
<script src="/static/js/datatables.min.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
		$('#orders').DataTable({
		paging: false,
        ordering: false,
        info: true,
			 });
		});


</script>
<!--outter-wp-->
<div class="outter-wp">
    <!--sub-heard-part-->
    <div class="sub-heard-part">
        <ol class="breadcrumb m-b-0">
            <li><a href="logout">Logout</a></li>
            <li class="active">Delivery Report</li>
        </ol>
    </div>
    <!--//sub-heard-part-->
    <!--/forms-->
    <div class="forms-main">
        <h3 class="inner-tittle">Delivery Report</h3>
        <div class="grid-1">
            <div class="form-body">
                <label class="text-info">{{message}}</label>
                 <div class="table-responsive">
                <table id="orders" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Order Date</th>
                        <th>Order ID</th>
                        <th>Buyer Name</th>
                        <th>Buyer Contact</th>
                        <th>Deliver to</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Delivery Status</th>
                        <th>Deliver Order</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.date }}</td>
                        <td>{{ order.id }}</td>
                        <td>{{ order.bname }}</td>
                        <td>{{ order.bcontact }}</td>
                        <td>{{ order.baddress }}</td>
                        <td>{{ order.name }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.qty }}</td>
                        <td>{{ order.total }}</td>
                        <td>{{ order.status }}</td>
                        {%if order.status == 'Pending'%}
                        <td>
                            <form method="post">
                                {%csrf_token%}
                                <input type="hidden" name="orderid" value="{{ order.id }}" required>
                                <input type="hidden" name="pid" value="{{ order.pid }}" required>
                                <input type="submit" class="btn btn-success" value="Deliver">
                            </form>
                        </td>
                        {%else%}
                        <td>&nbsp;</td>
                        {%endif%}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!--//forms-->
</div>
<!--//outer-wp-->
{% endblock %}